<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
  <div class="container" data-aos="fade-up">

    <div class="hero-bg" data-aos="zoom-out" data-aos-delay="200">
      <!-- <img src="assets/img/principal.jpg" alt="" class="img-fluid"> -->
      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>{{ "eslogan.text1" | translate }}<br><span style="color: rgb(45,42,147);">{{ "eslogan.text2" | translate }}</span><br>{{ "eslogan.text3" | translate }}</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">{{ "eslogan.text4" | translate }}</a>
          <a href="#portfolio" class="btn-services scrollto">{{ "eslogan.text5" | translate }}</a>
        </div>
      </div>
    </div>



  </div>
</section><!-- End Hero Section -->
