<!-- ======= Contact Section ======= -->
<section id="contact">
  <div class="container-fluid" data-aos="fade-up">

    <div class="section-header">
      <h3>{{ "contacto.tittle" | translate }}</h3>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="map mb-4 mb-lg-0">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31822.616093407785!2d-75.235304!3d4.443275!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce5fbee11d70bb90!2sColchones%20El%20Dorado%20Ibagu%C3%A9!5e0!3m2!1ses-419!2sco!4v1663305698192!5m2!1ses-419!2sco"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 footer-contact">
        <div class="row text-center">
          <h4>{{ "contacto.tittle" | translate }}</h4>
          <p>
            Colchones <b><span style="color: rgb(45,42,147);">LONDON BEDS </span></b> <br>
            Cra. 5 No. 16-87<br>
            Cra. 5 No. 14-19<br>
            Centro Comercial Multicentro local. 126<br>
            <strong>{{ "contacto.telefono" | translate }}:</strong> 320-885-7972<br>
            <strong>{{ "contacto.email" | translate }}:</strong> servicioalcliente@londonbeds.com<br>
          </p>
        </div>

        <div class="social-links text-center">
          <a href="https://wa.me/573208857972" class="whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>
          <a href="https://www.facebook.com/Colchoneslondonbeds/" class="facebook" target="_blank"><i
              class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/colchoneslondonbeds/" class="instagram" target="_blank"><i
              class="bi bi-instagram"></i></a>
          <a href="https://www.tiktok.com/@colchoneslondonbeds1966" class="tiktok" target="_blank"><i
              class="bi bi-tiktok"></i></a>
        </div>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
