<!-- ======= Team Section ======= -->
<section id="team">
  <div class="container" data-aos="fade-up">

      <h3>{{ "tiendas.tittle" | translate }}</h3>
      <p>{{ "tiendas.text1" | translate }}</p><br>


    <div class="row">

      <div class="col-lg-4 col-md-12" data-aos="zoom-out" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/almacenes/la16.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>{{ "tiendas.address" | translate }} Cra 5# 16-87</h4>
              <span>{{ "tiendas.phone" | translate }} 608-2652530</span>
              <div class="social">
                <a href="https://wa.me/573208857972" class="whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="https://www.facebook.com/Colchoneslondonbeds/" class="facebook" target="_blank"><i
                    class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/colchoneslondonbeds/" class="instagram" target="_blank"><i
                    class="bi bi-instagram"></i></a>
                <a href="https://www.tiktok.com/@colchoneslondonbeds1966" class="tiktok" target="_blank"><i
                    class="bi bi-tiktok"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12" data-aos="zoom-out" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/almacenes/la14.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>{{ "tiendas.address" | translate }} Cra 5# 14-19</h4>
              <span>{{ "tiendas.phone" | translate }} 608-2691685</span>
              <div class="social">
                <a href="https://wa.me/573208857972" class="whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="https://www.facebook.com/Colchoneslondonbeds/" class="facebook" target="_blank"><i
                    class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/colchoneslondonbeds/" class="instagram" target="_blank"><i
                    class="bi bi-instagram"></i></a>
                <a href="https://www.tiktok.com/@colchoneslondonbeds1966" class="tiktok" target="_blank"><i
                    class="bi bi-tiktok"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12" data-aos="zoom-out" data-aos-delay="300">
        <div class="member">
          <img src="assets/img/almacenes/multicentro.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>{{ "tiendas.address" | translate }} Centro comercial multicentro local 126</h4>
              <span>{{ "tiendas.phone" | translate }} 608-2640900</span>
              <div class="social">
                <a href="https://wa.me/573208857972" class="whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="https://www.facebook.com/Colchoneslondonbeds/" class="facebook" target="_blank"><i
                    class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/colchoneslondonbeds/" class="instagram" target="_blank"><i
                    class="bi bi-instagram"></i></a>
                <a href="https://www.tiktok.com/@colchoneslondonbeds1966" class="tiktok" target="_blank"><i
                    class="bi bi-tiktok"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->
