<!-- ======= About Section ======= -->
<section id="about">
  <div class="container" data-aos="fade-up">


      <h3>Nosotros</h3>
      <p class = t>Colchones <b><span style="color: rgb(45,42,147);">LONDON BEDS</span></b> representa
        la manera artística y tradicional con enfoque personalizado digno de la
        mejor sastrería
        en el arte de hacer colchones.</p><br>


    <div class="row about-container">

      <div class="col-lg-6 content order-lg-1 order-2"><br>
        <p>
          Nuestras camas combinan y aplican procesos técnicos que cubrió la revolución industrial por el año de 1966
          en sintonía
          con los ritmos acelerados de la vida moderna, al tiempo que reflejan la herencia y la historia clásica
          europea en el
          arte del descanso.
        </p><br>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-bookmark-check"></i></div>
          <h4 class="title"><a href="">Calidad</a></h4>
          <p></p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-clipboard-check"></i></div>
          <h4 class="title"><a href="">Comodidad</a></h4>
          <p></p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-shield-check"></i></div>
          <h4 class="title"><a href="">Confort</a></h4>
          <p></p>
        </div>

      </div>

      <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
        <img src="assets/img/Retablo 7.jpg" class="img-fluid" alt="">
      </div>
    </div>

    <div class="row about-extra">
      <div class="col-lg-6" data-aos="fade-right">
        <img src="assets/img/Retablo 1.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
        <h4>UN MEJOR DESCANSO</h4>
        <p>
          Cada colchón se cose a mano para una resistencia duradera. Terminado con telas exquisitas y bordado con el
          nombre de Colchones <b><span style="color: rgb(45,42,147);">LONDON BEDS</span></b> como testimonio de obra
          maestra y placer excepcional.
        </p>
        <p>
          Nos gustan los retos y nuestro anhelo es que su cama se convierta en una parte integral de su vida,
          brindándole años de sueño reparador y placer, situando a Colchones <b><span
              style="color: rgb(45,42,147);">LONDON BEDS</span></b> en una posición de prestigio en búsqueda
          insaciable de nuevas ideas y técnicas de confort.
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

<app-why-us></app-why-us>
