#header {
  height: 80px;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}
#header.header-scrolled {
  height: 60px;
}
#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  #header .logo h1 {
    font-size: 28px;
  }
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: rgb(45,42,147);
  text-decoration: none;
}

