<!-- ======= Why Us Section ======= -->
<section id="why-us">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>¿Porqué nosotros?</h3><br>
      <p>
        En cada cama
        <b><span style="font-size: 30px">LONDON BEDS </span></b>se
        utilizan los mejores materiales y con sistemas de amortiguadores pocket
        ensacados o biconicos continuos en forma de panal. Las fibras te
        mantienen a ti y a tu cama frescos, secos y limpios.
      </p>
    </header>

    <div class="row row-eq-height justify-content-center">
      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="100">
          <i class="bi bi-bookmark-check"></i>
          <div class="card-body">
            <h5 class="card-title">Calidad</h5>
            <p class="card-text">
              Las camas LONDON BEDS utilizan los mejores materiales, con
              sistemas de amortiguadores pocket ensacados o biconicos continuos
              en forma de panal. Las fibras te mantienen a ti y a tu cama
              frescos, secos y limpios.
            </p>
            <a href="#" class="readmore">Conocer más</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="200">
          <i class="bi bi-clipboard-check"></i>
          <div class="card-body">
            <h5 class="card-title">Comodidad</h5>
            <p class="card-text">
              Cada resorte se mueve de forma inteligente en respuesta a su
              cuerpo y sus movimientos, ofreciendo un soporte personalizado y
              una comodidad suprema para que puedas disfrutar de un mejor
              descanso.
            </p>
            <a href="#" class="readmore">Conocer más</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="300">
          <i class="bi bi-shield-check"></i>
          <div class="card-body">
            <h5 class="card-title">Confort</h5>
            <p class="card-text">
              El resultado final es una cama profundamente cómoda que cuenta con
              la mejor tecnologia, calidad, resistencia, diseño y textura que
              proporciona a nuestros clientes un sueño reparador muy merecido.
            </p>
            <a href="#" class="readmore">Conocer más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row counters" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3 col-6 text-center">
          <p class="t"><b>Clientes</b></p>
          <br />
          <p class="n"><b>2042</b></p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <p class="t"><b>Años de servicio</b></p>
          <br />
          <!-- <p  class="n"><b>56</b></p> -->
          <p  class="n"><b>421</b></p>
        </div>

        <!-- <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration="1" class="purecounter"></span>
          <p>Projects</p>
        </div> -->

        <div class="col-lg-3 col-6 text-center">
          <p class="t"><b>Unidades Vendidas</b></p>
          <br />
          <p class="n"><b>5867</b></p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <p class="t"><b>Colaboradores</b></p>
          <br />
          <p class="n"><b>10</b></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Why Us Section -->
