<!-- ======= Why Us Section ======= -->
<section id="why-us">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>{{ "whyus.tittle" | translate }}</h3>
      <p>
        {{ "whyus.text1" | translate }}
      </p>
      <!-- <p>
        En cada cama
        <b><span style="font-size: 30px">LONDON BEDS </span></b>se
        utilizan los mejores materiales y con sistemas de amortiguadores pocket
        ensacados o biconicos continuos en forma de panal. Las fibras te
        mantienen a ti y a tu cama frescos, secos y limpios.
      </p> -->
    </header>

    <div class="row row-eq-height justify-content-center">
      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="100">
          <i class="bi bi-bookmark-check"></i>
          <div class="card-body">
            <h5 class="card-title">{{ "whyus.cards.card1.tittle" | translate }}</h5>
            <p class="card-text">
              {{ "whyus.cards.card1.text1" | translate }}
            </p>
            <!-- <a href="#" class="readmore">Conocer más</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="200">
          <i class="bi bi-clipboard-check"></i>
          <div class="card-body">
            <h5 class="card-title">{{ "whyus.cards.card2.tittle" | translate }}</h5>
            <p class="card-text">
              {{ "whyus.cards.card2.text1" | translate }}
            </p>
            <!-- <a href="#" class="readmore">Conocer más</a> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card" data-aos="zoom-in" data-aos-delay="300">
          <i class="bi bi-shield-check"></i>
          <div class="card-body">
            <h5 class="card-title">{{ "whyus.cards.card3.tittle" | translate }}</h5>
            <p class="card-text">
              {{ "whyus.cards.card3.text1" | translate }}
            </p>
            <!-- <a href="#" class="readmore">Conocer más</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row counters" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3 col-6 text-center">
          <p class="t"><b>{{ "whyus.cards.card4.tittle" | translate }}</b></p>
          <br />
          <p class="n"><b>2042</b></p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <p class="t"><b>{{ "whyus.cards.card5.tittle" | translate }}</b></p>
          <br />
          <!-- <p  class="n"><b>56</b></p> -->
          <p  class="n"><b>421</b></p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <p class="t"><b>{{ "whyus.cards.card6.tittle" | translate }}</b></p>
          <br />
          <p class="n"><b>5867</b></p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <p class="t"><b>{{ "whyus.cards.card7.tittle" | translate }}</b></p>
          <br />
          <p class="n"><b>10</b></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Why Us Section -->
