<app-inicio></app-inicio>
<app-discount></app-discount>

<app-nosotros></app-nosotros>
<app-discount></app-discount>
<app-portafolio></app-portafolio>
<app-discount></app-discount>
<app-tiendas></app-tiendas>
<app-contacto></app-contacto>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send/?phone=573208857972&text=Hola%2C%20quiero%20mas%20informacion%20sobre%20sus%20colchones."
  class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
</a>
