/* You can add global styles to this file, and also import other style files */
#footer .container .copyright {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

#footer .container .credits {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}
