<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex justify-content-between">
    <div class="logo">
      <!-- Uncomment below if you prefer to use an text logo -->
      <!-- <h1><a href="index.html">NewBiz</a></h1> -->
      <a href="index.html"
        ><img src="assets/img/logo.png" alt="" class="img-fluid"
      /></a>
    </div>

    <!-- <nav id="navbar" class="navbar"> -->
    <nav
      id="navbar"
      [ngClass]="{ navbar: !isMenuOpenned, 'navbar-mobile': isMenuOpenned }"
    >
      <ul>
        <li>
          <a (click)="menuMobile()" class="nav-link scrollto" href="/#hero">{{
            "navbar.inicio" | translate
          }}</a>
        </li>

        <li>
          <a (click)="menuMobile()" class="nav-link scrollto" href="/#about">{{
            "navbar.nosotros" | translate
          }}</a>
        </li>

        <li>
          <a
            (click)="menuMobile()"
            class="nav-link scrollto"
            href="/#portfolio"
            >{{ "navbar.portafolio" | translate }}</a
          >
        </li>

        <li>
          <a (click)="menuMobile()" class="nav-link scrollto" href="/#team">{{
            "navbar.tiendas" | translate
          }}</a>
        </li>

        <li>
          <a
            (click)="menuMobile()"
            class="nav-link scrollto"
            href="/#contact"
            >{{ "navbar.contacto" | translate }}</a
          >
        </li>

        <li>
          <a (click)="switchEs()" class="nav-link"
            ><img src="../../../assets/img/colombia.png"
          /></a>
        </li>

        <li>
          <a (click)="switchEn()" class="nav-link"
            ><img src="../../../assets/img/reino-unido.png"
          /></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
